.btn {
    font-size: 0.8rem;    
    border-radius: 4px;
    line-height: 1.6rem;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    &.btn-primary {
        color: $color-btn_font-primary;
        background-color: $color-brand-primary;
    }
    &-secondary {
        @extend .btn;
        color: $color-btn_font-primary;
        background-color: $color-brand-secondary;
    }
    &-alternative {
        font-size: 1.067rem;
        line-height: 4rem;
        color: $color-btn_font-secondary;
        background-color: $color-btn_font-primary;
        letter-spacing: 1px;
        padding: 20px 30px;
        box-shadow: 0px 1px 3px 0px rgba(204, 216, 228, 0.75);
    }
}