.hero {
  background: url("../img/background-foxtar.jpg") no-repeat;
}
.main-title {
  font-family: "Roboto";
  font-size: 48px;
  font-weight: bold;
  text-align: center;
  color:#ffffff;

}
.hero-descript{
  font-family: "Roboto";
  font-weight: normal;
  font-size:20px;
  text-align: center;
  color:#ffffff;
  padding: 44px 0;
}
.search {
  font-family: Roboto;
  font-size: 14px;
  border: transparent;

  color: #99abb4;

}
/*.search::after{*/
/*    content: '';*/
/*    background: url("../img/icon-hero.png")no-repeat;*/
.searchButton {
  position: absolute;
  background: url("../img/icon-hero.png")no-repeat;
  border: transparent;
  width: 25px;
  height: 25px;
  top: 20px;
  right: 25px;
}

.hero {
  padding: 60px 0 157px 0;
}
.simplSearch {
  position: relative;
  transform: translate(65%, 65%);
  background-color: #ffffff;
  border-radius: 3px;
  border: transparent;
  display: inline-block;
  padding: 23px 26px;
  width: 670px;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.card-listing {
  border: 1px #99abb4 solid;
  background-color: #ffffff;
  display: inline-block;

}
.rating{
  border-top: 1px #99abb4 solid;
  display: inline-block;
  width: 100%;

}
.card-title {
  font-size: 18px;
  font-family: Roboto;
  color:#000000;
}
.price {
  justify-content: flex-end;
}
.data {
  display: flex;
}