

h2{
  @media(max-width: 576px){
    font-size: 1.4rem;
    }
  }
.col {
  @media(max-width: 576px){
    max-width: 100%;

  }
}
.listing {

  background-color: #f4f6f5;
  @media(max-width: 768px){
    padding: 90px 0;

  }
  @media(max-width: 567px){
    padding: 70px 0;
  }
}


.button-group {
  display: flex;
  padding-top: 60px;
  padding-bottom: 60px;
  justify-content: center;

  @media(max-width: 576px) {
    flex-direction:column ;
    margin: 0 30px

  }
}
.bottom-button {
  padding-bottom: 0;
}
.btn{
  background-color: $color-btn_font-primary;
  color: $color-btn_font-secondary;
  font-size: 1.067rem;
  border-radius: 0;
  padding: 10px 25px;

  &.is-checked {
    background-color: $color-brand-secondary;
    color: #f4f6f5;

  }
  &:focus {
    box-shadow:none;
  }

}
.btn-alternative{
  padding: 0 30px;
}

.title {

    color:#000000;
    text-align: center;

  }
.card-label {
  &:before {
    content: "";
    background:url("../img/card-label.png") no-repeat;
    position: absolute;
    top: 0;
    left:0;
    z-index: 20;
    height: 100%;
    width: 100%;
    background-size: 34%;
    @media(max-width:768px){
      background-size: 26%;
    }

    }

  }

.card {
  position: relative;
  z-index: 10;
  margin-bottom: 30px;

  .card-title {
    font-family: Roboto;
    color: #000000;
    font-size: 18px;
    @media(max-width: 1200px) {
      font-size: 16px;
      line-height: 1;
    }

    @media(max-width: 992px) {
      font-size: 14px;
      line-height: 1;
    }
    @media (max-width: 768px) {
      font-size: 12px;
      line-height: 1;
    }
    @media (max-width: 576px) {
      font-size: 23px;
    }
  }
  .price {
    font-family: Roboto;
    color:#000000;
    font-size:18px;
    @media(max-width:1200px){
      font-size: 18px;
      line-height: 1;
    }
    @media(max-width:992px){
      font-size: 18px;
      line-height: 1;
    }
    @media (max-width: 768px) {
      font-size: 15px;
      line-height: 1;
    }
    @media (max-width: 576px) {
      font-size: 23px;
    }
  }

  .data {
    display: flex;
    justify-content: space-between;
      @media(max-width:1200px){
        display: flex;
      }
    @media(max-width:992px){
      display: block;
    }
    @media (max-width: 768px) {
      display: block;
    }
    @media (max-width: 576px) {
      display: flex;
    }

  }
  .card-inf{
    padding: 30px;
    @media(max-width:1200px){
      padding:20px
    }
    @media(max-width:992px){
      padding:18px
  }
    @media (max-width: 768px) {
      padding:15px
    }
  }
  .bottompart {
    display: flex;
    border-top: 2px #f4f6f5 solid;
    justify-content: space-between;
    padding: 20px 30px;
    @media(max-width:1200px){
      display: block;

      padding:20px
    }
    @media(max-width:992px){
      padding:18px
    }
    @media (max-width: 768px) {
      padding:15px

    }
    @media(max-width: 576px){
      display: flex;
      padding: 20px 30px;
    }

    }

    .author {
      display: flex;
      .card-author {
        width: 30px;
        height: 30px;
        @media(max-width:1200px){
          width: 30px;
          height: 30px;
        }
        @media(max-width:992px){
          width: 25px;
          height: 25px;
        }
        @media (max-width: 768px) {
          width: 25px;
          height: 25px;
        }
        @media (max-width:576px){
          width: 40px;
          height: 40px;
        }
      }
      .author-descript {
        padding-left: 15px;
        color:#000000;
        @media(max-width:1200px){
          font-size: 12px;
          padding-left: 5px;
          line-height: 2;
        }
        @media(max-width:992px){
          font-size: 12px;
          padding-left: 5px;
        }
        @media (max-width: 768px) {
          font-size: 12px;
          padding-left: 5px;
        }
        @media (max-width: 576px) {
          font-size: 16px;
          padding-left: 15px;
        }
      }
    }

    .rating {
      display: flex;
      @media(max-width: 1200px) {
        justify-content: flex-end;
      }


      .rating-discrip {
        padding-left: 5px;
        color: #000000;
        @media(max-width: 1200px) {
          font-size: 12px;
          padding-left: 0;
          line-height: 2;
        }
        @media(max-width: 992px) {
          font-size: 13px;
          padding-left: 5px;
        }
        @media (max-width: 768px) {
          font-size: 13px;
        }
        @media (max-width: 576px) {
          font-size: 16px;
          padding-left: 15px;
        }
      }

      .stars {
        position: relative;
        display: block;
        float: left;
        height: 20px;
        width: 105px;
        background-image: url("../img/stars.png");
        background-position: 0 0;
        background-repeat: repeat-x;
        margin-right: 5px;
        @media(max-width: 1200px) {
          margin-right: 3px;
        }
        @media(max-width: 992px) {
          height: 15px;
          width: 73px;
          background-size: 15px;
          margin-top: 5px;
        }
        @media(max-width: 576px) {
          background-size: 20px;
        height: 20px;
        width: 100px;

        background-position: 0 0;
        background-repeat: repeat-x;
        margin-right: 5px;
        }

        .on {
          height: 20px;
          background-image: url("../img/stars.png");
          background-position: 0 -20px;


            @media(max-width: 992px) {
            width: 88%;
            height: 13px;
            background-position: 0 -15px;
            background-size: 15px;
          }
            @media(max-width: 576px) {
              height: 18px;
              background-position: 0 -20px;
              background-size: 20px;

            }

        }

        .live {

          position: absolute;
          top: 0;
          left: 0;
          opacity: 0;
          &:hover {

            opacity: 1;
          }

          span {

            display: block;
            float: left;
            cursor: pointer;
            width: 21px;
            height: 20px;
            background-image: url("../img/stars.png");
            background-repeat: no-repeat;
            background-position: 0 -20px;

            @media(max-width: 992px) {
              width: 15px;
              height: 15px;
              background-repeat: no-repeat;
              background-position: 0 -15px;
              background-size: 15px;
            }
            @media(max-width: 576px) {
              width: 21px;
              height: 20px;
              background-repeat: no-repeat;
              background-position: 0 -20px;
              background-size: 18px;
            }



            &:hover {
              ~ span {
                background-position: 0 0px;
              }
            }
          }
        }
      }
    }


  .card-descpipt {
    color:green;
    @media(max-width:1200px){
      font-size:15px;
      padding-top: 10px;
    }
    @media(max-width:992px){
      font-size:13px;
      padding-top: 10px;
    }
    @media (max-width: 768px) {
      font-size:13px;
      padding-top: 10px;
    }
    @media(max-width:576px) {
      font-size: 15px;
      padding-top: 10px;
    }
  }
  .img-listing {
    width: 100%;
  }
  &:hover {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  }
}
@media(max-width:1200px){
  .col-3{
    padding-left: 10px;
    padding-right: 10px;
  }
}
.owl-carousel.owl-loaded {
  display: block;
  margin-bottom: 60px;
}
