.modal-dialog {
    max-width: 729px;
    max-height: 484px;
    .modal-content {
        background-color: $color-brand-primary;
        color: #fff;
        border: none;
        border-radius: 0;
        box-shadow: 0 0 30px 15px rgba(0, 0, 0, 0.4);
    }
}
.modal-header {
    border-bottom: none;
    padding: 21px 28px 40px 0;
    .close {
        color: #fff;
        padding: 0;
    }
}
.modal-body {
    padding: 0;
    .modal-title {
       font-size: 48px;
       text-align: center;
       font-family: 'Roboto', sans-serif;
       font-weight: 700;
       padding: 0 0 23px 0;
    }
    .modal-form {
        padding: 0 162px;
        input {
            background-color: #76ae36;
            color: #fff;
            border: none;
            width: 400px;
            height: 43px;
            padding-left: 40px;
        }
        input::placeholder {
            color: #fff;
        }
    }
}
.modal-form-login {
    position: relative;
    padding-bottom: 8px;
    i { 
        position: absolute;
        left: 18px; 
        top: 10px;      
    }
}
.modal-footer {
    display: flex;
    justify-content: flex-start;
    border-top: none;
    padding: 11px 162px 23px 162px;
}
.modal-footer > :not(:first-child) {
    margin-left: 0; 
}
  .modal-footer > :not(:last-child) {
    margin-right: 10px; 
}

.btn-submit {
    // width: 33%;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-weight: 700; 
    font-size: 14px;
    width: 139px;
    height: 48px;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
}
.btn-create {
    // width: 66%;
    background-color: #76ae36;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 18px;
    width: 250px;
    height: 50px;
}
.modal-lost {
    padding: 0 162px 111px 162px;
    a {
        color: #fff;
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        font-size: 18px;
    }
}
.fa-user:before {content: "\f007";}
.fa-lock:before {content: "\f023";}
.fa-edit:before {content: "\f044";}

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
    .modal-dialog {
        max-width: 550px;
        max-height: 400px;
    }
    .modal-form input {
        width: 200px;
        height: 43px;
    }
    .btn-create {
        font-size: 10px;
        padding: 5px 10px;
    }
    .btn-submit {
        font-size: 10px;
        padding: 5px 10px;
    }
}
// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) { 
    .container {
        max-width: $sm; 
    }
    .modal-dialog {
        max-width: 500px;
        max-height: 400px;
        }
    .modal-body .modal-form input {
        width: 300px;
        height: 43px;
    }
    .modal-body .modal-form {
        padding: 0 100px;
    }    
    .modal-footer {
        padding: 11px 100px 23px 100px;
    }
    .modal-lost {
        padding: 0 100px 111px 100px;
    }
    .btn-create {
        font-size: 10px;
        padding: 5px 10px;
        }
    .btn-submit {
        font-size: 10px;
        padding: 5px 10px;
        }
}
// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) { 
    .container {
        max-width: $md;
    }
    .modal-dialog {
        max-width: 620px;
        max-height: 420px;
        }
    .modal-body .modal-form {
        padding: 0 130px;
    }    
    .modal-footer {
        padding: 11px 130px 23px 130px;
    }
    .modal-lost {
        padding: 0 130px 111px 130px;
    }
    .modal-body .modal-form input {
         width: 350px;
         height: 43px;
    }
    .btn-create {
        font-size: 12px;
        padding: 10px 20px;
        }
    .btn-submit {
        font-size: 12px;
        padding: 10px 20px;
        }
}
// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) { 
    .container {
        max-width: $lg;
    }
    .modal-dialog {
        max-width: 729px;
        max-height: 484px;
    }
    .modal-body .modal-form input {
        width: 400px;
        height: 43px;
       }
    .btn-create {
        font-size: 18px;
        padding: 10px 25px;
        }
    .btn-submit {
        font-size: 14px;
        padding: 10px 25px;
        }
}
// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { 
    .container {
        max-width: $xl;
    }
    .modal-dialog {
        max-width: 729px;
        max-height: 484px;
    }
    .modal-body .modal-form input {
        width: 400px;
        height: 43px;
       }
    .btn-create {
        font-size: 18px;
        padding: 10px 25px;
        }
    .btn-submit {
        font-size: 14px;
        padding: 10px 25px;
        }
}