.more-product {
  padding-top: 52px;

}
.block-title {
  background-color: $color-background-default;
  border: 1px #dedede solid;
  padding: 23px 28px;
  font-size: 18px;
  line-height: 1;
  font-weight: 700;
}
.card-super {
  display: flex;
  background-color: #fff;
  border: 1px #dedede solid;
  margin-top: 28px;
  &:hover {
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
  }
}
.card-title-super {
  font-size: 14px;
  color: #000000;
  line-height: 1;
font-family: "Roboto Black";
}
.super-card-img {
  width: 40%;

  img{
    height: 100%;
    width: 85%;
  }
}
.card-discript-super {
  font-size: 12px;
  color: $color-brand-primary;
  line-height: 1;
}
.price-super {
  color: #000000;
  font-size: 18px;
  line-height: 3;
}
.card-inf-super {
  padding-top: 20px;
  padding-left: 22px;
}

