.section-builder{
  background-color: #f4f6f5;

}
.row-builder {
  display: flex;
}
.img-bg {
  background-color: #ffffff;
  border: 2px #dedede solid;
}
.img-builder {

  width: 100%;
  border: 20px solid #ffffff;
}
.builder-title {
  letter-spacing: 2px;
  padding: 5px 0;
  font-weight: 500;
}
.builder-descript {
  color: #707070
}
.builder-buttons {
  display: flex;
  margin: 50px 0;
  justify-content: space-between;
}
.btn-group-rgb {
  button {
    margin-right: 20px;
    padding: 20px 25px;
    color: #ffffff;
    font-size: 16px;
    font-family: Roboto;
  }

  .btn-preview {
    background-color: $color-brand-secondary;
  }

  .btn-screen {
    background-color: #455a64;
  }

  .btn-doc {
    background-color: $color-brand-primary;
  }
}
.social-buttons {
  display: flex;

  li {
    padding-left: 3px;

    a{
      height: 50px;
      width: 54px;
      display: block;
      &:hover {
        box-shadow: 0px 1px 5px 0px rgba(111, 111, 111, 1);
      }
    }
  }
}

  .fb {
    background: url(../img/social-fb.png) no-repeat;
  }

  .twitter {
    background: url(../img/social-twitter.png) no-repeat;

  }
  .linkedin {
    background: url(../img/social-linkidin.png) no-repeat;
  }
    .pinterest {
      background: url(../img/social-pinterest.png) no-repeat;
    }





    .sec-cerv {
      display: flex;
      width: 100%;
    }
.nav-pills {
  .nav-link {
    background: $color-background-default;
    border: 1px #dedede solid;
    border-radius: 0;
    font-size: 16px;
    color: #70838d;
    padding: 23px 68.5px;
  }
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link{
  background-color: #ffffff;
  border-bottom: 4px #8bc34a solid;
  color: #70838d;
  padding-bottom: 20px;
}


.tab-pane {
  background-color: $color-background-default;
  border: 1px #dedede solid;
  padding: 35px;
  p {
    color: #70838d;
    font-size: 16px;
    line-height: 3;

    &:before {
      content: ">";
      color: #8bc34a;
      font-weight: 900;
      padding-right: 10px;
    }
  }
}
.tabs {
  padding-top: 55px;
}

// Right sidebar in All products section - start
.sidebar-item-wrapper {
  display: flex;
}
.sidebar-item {
    background-color: $color-background-default;
    border: 1px solid #dedede;
}
.sidebar-item-inner {
    padding: 20px 30px 25px 30px;
}
.sidebar-item-title {
    font-size: 1.333rem;
    color: $header-color-alternative;
    line-height: 1;
}
.sidebar-item-title::after {
    content: '';
    height: 1px;
    width: 100%;
    background-color: #dde3e8;
}
.sidebar-form-wrapper span {
    font-size: 1.467rem;
    color: $color-brand-secondary;
    letter-spacing: 1px;
    text-align: left;
}
.sidebar-form-wrapper {
}
.author-badge {
    text-align: center;
    li {
        display: inline-block;
  }
}
.fa-shopping-cart::before {
    content:'\f07a';
    color: #a6b5bb;
}


