.hero_all {
  padding: 60px 0 60px 0;
  background: url("../img/background-foxtar-second.jpg") no-repeat;

}
.all_hero-descript {
  font-family: "Roboto";
  font-weight: normal;
  font-size: 20px;
  text-align: center;
  color: #ffffff;
  padding-bottom: 25px;
  @media(max-width:768px){
    font-size: 18px;
  }
  @media(max-width:576px){
    font-size: 16px;
  }
}
.all_search {
  font-family: Roboto;
  font-size: 14px;
  border: transparent;
  color: #90a4ae;

}

.all_hero-search {
  position: relative;
  background-color: #ffffff;
  border-radius: 5px;
  border: transparent;
  transform: translate(428px, 10px);
  padding: 23px 23px;
  box-shadow: 0px 1px 15px 0px rgba(137, 144, 81, 1);
  width: 670px;
  @media(max-width:992px){
    max-width: 80%;
    transform: translate(175px, 10px);
    padding: 20px 23px;
  }

  @media(max-width:768px){
    max-width: 60%;
    transform: translate(153px, 10px);
    padding: 19px 23px;
  }
  @media(max-width:576px){
    padding: 15px 15px;
    transform: translate(116px, 10px);
  }
}
.all_searchButton {
  position: absolute;
  background: url("../img/icon-hero.png") no-repeat;
  border: transparent;
  width: 25px;
  height: 25px;
  top: 20px;
  right: 25px;
  @media(max-width:768px){
    top: 18px;
    right: 19px;
  }
  @media(max-width:576px){
    top: 13px;
    right: 15px;
  }
}
//.square {
//    border: none;
//    background: none;
//    margin-right: 5px;
//    padding: 0 5px;
//    &:hover {
//      color: $color-brand-primary;
//    }
//    &:focus {
//      color: $color-brand-primary;
//
//    }
//}
//.list {
//    border: none;
//    background: none;
//    padding: 0 5px;
//    &:hover {
//      color: $color-brand-primary;
//    }
//    &:focus {
//      color: $color-brand-primary;
//    }
//}
// .card-list {
//     display: flex;
//     flex-direction: row;    
// }
// .card-img {
//   flex: 7;
// }
// .card-mini .card-inf {
//   flex: 7;
// }



