.section-main {
  background-color: #f4f6f5;
  @media(max-width: 768px) {
    padding: 90px 0;
  }
 }
 .row-sm {
  margin-left: 0;
  margin-right: -15px;
  @media(max-width: 1200px) {
    margin-left: 0;
    margin-right: -10px;
  }
    @media(max-width: 576px){
      margin-top: 30px;
  } 
 }
 .row_main {
  display: flex;
  @media (max-width: 576px) {
    display: block; 
  }
 }
 .col {
  @media (max-width: 576px) {
    width: 100%
  }
 }
  .card-mini {
    .card-descript {
      font-size: 14px;
      color: #8bc34a;
      @media (max-width: 768px) {
        padding-top: 15px;
      }
    }
 
    .card-inf {
      padding: 23px 26px;
      @media(max-width: 1200px) {
        padding: 20px 10px;
      }
      @media(max-width: 992px) {
        padding: 20px 10px;
      }
      @media(max-width: 768px) {
        padding: 10px 5px;
      }
    }
    .data{
      @media(max-width: 576px) {
        display: flex;
        padding: 20px 15px;
        justify-content: space-between;
      } 
    }
    .bottompart {
      padding: 16px 23px;
      @media(max-width: 1200px) {
        padding: 20px 10px;
        display: flex;
      }
      @media(max-width: 992px) {
        padding: 10px;
        display: block;
      }
      @media (max-width: 768px) {
        padding: 5px;
 
      }
      @media(max-width: 576px) {
        display: flex;
        padding: 20px 15px;
        justify-content: space-between;
      }
    }
 
    .author {
      .author-descript {
        font-size: 12px;
        line-height: 2.5;
        padding-left: 5px;
      }
    } 
    .rating {
      .rating-discrip {
        font-size: 12px;
        line-height: 2.5;
        padding-left: 5px;
      }
    } 

    .card-title {
      font-size: 16px;
      line-height: 1rem; 
    }
 
    .price {
      font-size: 16px;
      line-height: 1rem;
      @media (max-width: 576px) {
        padding-left: 142px;
      }
    }
  }
 
 .col-mini {
  padding: 0;
 }
 .categories-title {
 
  color: #000000;
  @media(max-width: 992px) {
    line-height: 3rem;
    font-size: 18px;
  }
  @media(max-width: 768px) {
    font-size: 17px;
  }
  @media(max-width: 576px) {
    font-size: 18px;
  }
 }

 .card-categories {
  margin-bottom: 30px;
  padding: 0 30px 40px 30px;
  background-color: #ffffff;
  border: 1px #dedede solid;
  @media(max-width: 1200px){
    padding: 0 15px 15px 15px;
  }
  @media(max-width: 992px){
    padding: 0 10px 10px 10px;
  }
  @media(max-width: 576px) {
    padding: 0 30px 40px 30px;
  } 
 
  .main-categories{
    border-top: 1px #dedede solid;
    padding-top: 30px;
    @media(max-width: 992px){
      padding-top: 10px;
    } 
    li {
      display: flex;
      line-height: 2.5;
      justify-content: space-between;
      color:#000000;
        p.name-category:before {
        content: ">";
        color: #8bc34a;
        font-weight: 900;
        padding-right: 10px;
          @media(max-width: 992px){
            font-size: 13px;
          }
          @media(max-width: 576px) {
            font-size: 16px;
          }
      }
      .name-category{
        @media(max-width: 992px) {
          font-size: 13px;
        }
        @media(max-width: 576px)  {
          font-size: 18px;
        }
      }
      .price-category {
        color:#506e7a;
 
        @media(max-width: 992px){
          font-size: 12px;
        }
        @media(max-width: 576px){
          font-size: 16px;
        } 
      } 
    } 
  }
 }
 .card-price-range { 
  background-color: #ffffff;
  padding:0 30px 30px 30px;
  margin-bottom: 30px;
  border: 1px #dedede solid;
  @media(max-width: 1200px){
    padding:0 15px 15px 15px;
  }
  @media(max-width: 992px){
    padding:0 10px 10px 10px;
  }
  @media(max-width: 768px){
    padding:0 10px 10px 10px;
  }
  @media(max-width: 567px){
    padding:0 30px 30px 30px;
  } 
 }
 .range-button {
  border-top: 1px #dedede solid;
  padding-top: 20px;
 }
 .irs--flat{
  .irs-min {
    display: none;
  }
  .irs-max {
    display: none;
  }
  .irs-single{
    display: none;
  }
  .irs-line {
    height: 5px;
    border-radius: 6px;
  }
  .irs-bar {
    height: 5px;
    background-color: #37474f;
  }
  .irs-from {
    color: #506e7a;
    background-color: transparent;
    font-size: 15px;
    line-height: 8;
    padding: 0 23px;
    &:before {
      content: '$';
      position: absolute;
      height: 100%;
      width: 100%;
      border-top-color: transparent;
      border: none;
      left:15px;
      bottom:0;
    }
  }
 
   .irs-grid{
      display: none;
    }
  .irs-to {
    color: #506e7a;
    background-color: transparent;
    font-size: 15px;
    line-height: 8;
    padding: 0 23px;
    &:before{
      content: '$';
      position: absolute;
      height: 100%;
      width: 100%;
      border-top-color: transparent;
      border: none;
      left:15px;
      bottom:0;
    } 
  }
  .irs-handle {
     i:first-child {
      width: 15px;
      height: 15px;
      background-color: #ffffff;
      border: 3px #8bc34a solid;
      border-radius: 15px;
       margin-left: -5px;
       margin-top: -2px 
    }
  }
  .irs-handle {
    &:hover {
      i:first-child {
        background-color: #ffffff;
        }
      }
 
    i:first-child {
      &:hover {
      background-color: #ffffff;
      }
    } 
  } 
}
 
 .btn-price-range{
  background-color: #8bc34a;
  color: #ffffff;
  position: relative;
  padding: 15px 60px 15px 80px;
  margin-top: 30px;
  width: 100%;
  @media(max-width: 1200px){
  padding: 15px 60px 15px 69px;
  margin-top: 10px;
 }
  @media(max-width: 992px){
    padding: 15px 60px 15px 69px;
    margin-top: 10px;
  }
  @media(max-width: 768px){
    padding: 10px 60px 10px 46px;
    margin-top: 10px;
  }
  @media (max-width: 576px){
    padding: 10px 60px 10px 88px;
    margin-top: 30px;
    width: 50%;
    transform: translate(110px, -10px);
  } 
 
  &:before {
    content: '';
    background: url("../img/search.png") no-repeat;
    position: absolute;
    width: 18px;
    height: 18px;
    left: 50px;
    top: 20px;
    @media(max-width: 1200px){
      left: 44px;
    }
    @media(max-width: 992px){
      left: 44px;
    }
    @media(max-width: 768px){
      left: 23px;
      top: 15px;
    }
 
    @media (max-width:576px){
      left: 67px;
      top: 16px;
    }
  }
}
 
 .pr-0{
  padding-left: 0;
 }
 .cards {
  padding-top: 26px;
  border-top: 1px #dedede solid;
 }
 .card-top-ten {
  background-color: #ffffff;
  padding: 0 30px 30px 30px;
  border: 1px #dedede solid;
  @media(max-width: 1200px) {
    padding: 0 10px 10px 10px;
    .card-mini {
      @media(max-width: 576px) {
        padding-left: 90px;
      }
      .data {
        @media(max-width: 576px) {
          justify-content: start;
        }
      }
        .bottompart {
        @media(max-width: 576px) {
          justify-content: start;
        }
      }
    }
  }
 
 .card-mini {
  @media(max-width: 576px) {
    display: flex; 
  }
 }
  .card {
    border: none; 
    &:hover {
      box-shadow: none;
    } 
    .card-inf {
      padding: 20px 10px; 
    }
 
    .bottompart {
      border-top: none;
      padding: 5px 10px;
 
      &:not(:last-child) {
        border-bottom: 2px #dedede solid;
      }
    } 
  } 
 }
 
 .stars-mini {
  position: relative;
  display: block;
  float: left;
  height: 10px;
  width: 60px;
  background-image: url("../img/stars.png");
  background-position: 0 0;
  background-repeat: repeat-x;
  margin-right: 5px;
  background-size: 10px;
  top: 10px;
 
  .on {
    width: 88%;
    height: 8px;
    background-image: url("../img/stars.png");
    background-position: 0 -10px;
    background-size: 10px; 
  }
 
  .live { 
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
 
    &:hover { 
      opacity: 1;
    }
 
    span { 
      display: block;
      float: left;
      cursor: pointer;
      width: 10px;
      height: 10px;
      background-image: url("../img/stars.png");
      background-repeat: no-repeat;
      background-position: 0 -10px;
      background-size: 10px;
 
      &:hover {
        ~ span {
          background-position: 0 0px;
        }
      }
    }
  }
 }
   .btn-view-all{
     width: 100%;
     background-color:#8bc34a;
     color:#ffffff;
     @media(max-width:576px){
       width: 60%;
       transform: translate(93px, -10px);
     }
   }
   .button-group-all {
     margin: 60px 15px 60px;
     @media(max-width:576px){
       transform: translate(114px, 10px);
     }
 
   }
   .btn-all-new {
     margin-right: 3px;
     padding: 7px 18px;
     box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
   }
  //  .card-top {
  //     border-bottom: 2px #dedede solid;
  //  }
 .col-plr{
  @media (max-width: 768px) {
    padding-right: 10px;
    padding-left: 10px;
  }
 }
 .m50{
  @media(max-width:576px){
    margin: 0 50px;
 
  }
 } 

.view-switcher {
  display: flex;
  background-color: #fff;
  border: 1px #dedede solid;
  padding: 19px;
  margin-bottom: 30px;
  justify-content: space-between;
  @media(max-width: 576px){
    display: none;
  }
}
.filter-form {
  &:before {
    content: "";
    background: url("../img/png_1.png") no-repeat;
    background-size: 18px;
    display: inline-block;
    width: 15px;
    height: 19px;
    margin-right: 6px;
  }
}
.square {
  border: none;
  background: none;
  margin-right: 5px;
  padding: 0 5px;
  &:hover {
    color: $color-brand-primary;
  }
  &:focus {
    color: $color-brand-primary;
  }
}
.list {
  border: none;
  background: none;
  padding: 0 5px;
  &:hover {
    color: $color-brand-primary;
  }
  &:focus {
    color: $color-brand-primary;
  }
}


