.section-upload-products {
    background-color: $color-background-secondary;
    padding: 0 0 107px 0;
    h4 {
        color: $header-color-alternative;
        padding: 20px 0 20px 33px;
        border: 1px solid $color-form-border;
        background-color: $color-background-default;
        width: 100%;
        &:last-of-type {
            border: transparent;
        }
    }
}
.local-menu {
    display: flex;
    padding: 48px 0 39px 0;
    letter-spacing: 1px;
    li span {
        color: $color-brand-primary;
        padding: 0 12px 0 8px;
    }
    li:first-child {
        line-height: 2.667rem;
    }
    li:last-child {
        line-height: 2.667rem;
        color: $color-btn_font-secondary;
    }
}
.form-upload-wrapper {
    padding: 45px 45px 20px 50px;
    border-left: 1px solid $color-form-border;
    border-bottom: 1px solid $color-form-border;
    border-right: 1px solid $color-form-border;
    background-color: $color-background-default;
    width: 100%;
}
.col-form-label {
    /* padding-top: -webkit-calc(0.375rem + 1px); */
    /* padding-top: calc(0.375rem + 1px); */
    /* padding-bottom: -webkit-calc(0.375rem + 1px); */
    /* padding-bottom: calc(0.375rem + 1px); */
    /* margin-bottom: 0; */
    font-size: inherit;
    line-height: 1.5;
    color: $color-form-text-main;
    position: relative;
    &:after {
        content: "*";
        color: $color-brand-primary;
        position: relative;
        top: -3px;
        left: 2px;
    }
}
.form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-family: 'pt_sansregular';
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: $color-form-text-input;
    background-color: $color-background-secondary;
    border: 1px solid #ddd;
    border-radius: 0;
}
.btn-primary {
    // background-color: #8bc34a;
    // color: $color-btn_font-primary;
    font-size: 1rem;
    padding: 16px 40px 19px 35px;
    line-height: 1;
}
.custom-select {
    font-family: 'pt_sansregular';
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: $color-form-text-input;
    border-radius: 0;
    background-color: $color-background-secondary;
}
.custom-file-label {
    border-radius: 0;
}