.card-offer {
    background-color: #f8f8f8;
    text-align: center;
}
.card-offer-title h3 {
    color: $color-background-primary;
}
.card-offer-title {
    padding: 18px 0;
}
.section-offer h2 {
    padding-bottom: 47px;
}