.section.section-upload-products {
    background-color: $color-background-secondary;
    padding: 0 0 107px 0;
    h4 {
        color: $header-color-alternative;
        padding: 20px 0 20px 33px;
        border: 1px solid $color-form-border;
        background-color: $color-background-default;
        width: 100%;
        &:last-of-type {
            border: transparent;
        }
    }
}
.local-menu {
    display: flex;
    padding: 48px 0 39px 30px;
    letter-spacing: 1px;
    li span {
        color: $color-brand-primary;
        padding: 0 12px 0 8px;
    }
    li:first-child {
        line-height: 2.667rem;
    }
    li:last-child {
        line-height: 2.667rem;
        color: $color-btn_font-secondary;
    }
}
.form-border {
    border: 1px solid $color-form-border;
    width: 100%;
}
.form-upload-wrapper {
    padding: 45px 45px 20px 50px;
    // border-left: 1px solid $color-form-border;
    // border-right: 1px solid $color-form-border;
    border-bottom: 1px solid $color-form-border;    
    background-color: $color-background-default;
    width: 100%;
}
.col-form-label {
    font-size: inherit;
    line-height: 1.5;
    color: $color-form-text-main;
    position: relative;
    &:after {
        content: "*";
        color: $color-brand-primary;
        position: relative;
        top: -3px;
        left: 2px;
    }
}
.form-control {
    display: block;
    width: 100%;
    height: calc(1.5rem + 0.75rem + 4px);
    padding: 0.375rem 0.75rem;
    font-family: 'pt_sansregular';
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: $color-form-text-input;
    background-color: $color-background-secondary;
    border: 1px solid #ddd;
    border-radius: 0;
    &:focus {
        color: $color-form-text-input;
        border-color: #ddd;
        box-shadow: none;
        background-color: $color-background-secondary;
    }
}
.jq-selectbox__select {
    width: 100%;
    height: 40px;
    padding: 12px 0px 14px 17px;
    border: 1px solid #ddd;
    border-radius: 0px;
    font: 1rem/1 pt_sansregular, sans-serif;
    color: #707070;
    background: #f4f6f5;
    box-shadow: none;
    text-shadow: none;
}
.jq-selectbox__select-text {
    font: 1rem/1 pt_sansregular, sans-serif;
}
.jq-selectbox li.selected {
    background-color: $color-brand-primary;
}
.jq-selectbox__trigger {
    border-left: none;
}
.btn-primary {
    font-size: 1rem;
    padding: 16px 40px 19px 35px;
    line-height: 1;
}
.custom-select {
    font-family: 'pt_sansregular';
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: $color-form-text-input;
    border-radius: 0;
    border: none;
    background-color: $color-background-secondary;
    padding: 0;
    &:focus {
        border-color: none;
        outline: 0;
        box-shadow: none;
    }
}
.jq-selectbox__dropdown {
    border: 1px solid #ddd;
    border-radius: none;
    font: 1rem/1 pt_sansregular, sans-serif;
}
.jq-selectbox.focused .jq-selectbox__select {
    border: 1px solid $color-brand-primary;
}
.jq-selectbox li:hover {
    background-color: $color-brand-primary;
}
.custom-file-label {
    border-radius: 0;
}
.col-10 input:hover {
    background: linear-gradient(#FFF, #E6E6E6);
}
.jq-file {
    width: 100%;
    border-radius: 0;
    box-shadow: none;
}
.jq-file__name {
    border-radius: 0;
    border: 1px solid #ddd;
    background-color: $color-background-secondary;
    box-shadow: none;
    color: $color-form-text-input;
    font: 1rem/1 pt_sansregular, sans-serif;
    height: 40px;
    padding: 10px 80px 0 130px;
}
.jq-file__browse {
    border-radius: 0;
    border: 1px solid #ddd;
    background: $color-background-default;
    box-shadow: none;
    font: 1rem/1 pt_sansregular, sans-serif;
    color: $color-form-text-input;
    padding: 4px 12px 9px 14px;
    text-shadow: none;
    top: 7px;
    left: 7px;
    bottom: 7px;
    right: auto;
}
.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active, .show > .btn-primary.dropdown-toggle {
    color: #8bc34a;
    background-color: #fff;
    border-color: #8bc34a;
    border: 1px solid #8bc34a;
}
.submit-wrapper {
    margin: 42px 0 0 0;
}