.hero {
  padding: 150px 0 160px 0;
  background: url("../img/background-foxtar.jpg") no-repeat;

  @media(max-width:768px){
    padding: 120px 0;
  }




  .main-title {
    font-family: "Roboto";
    font-size: 48px;
    font-weight: bold;
    text-align: center;
    color: #ffffff;
    @media(max-width: 768px) {
      font-size: 40px;
    }
    @media(max-width: 576px) {
      font-size: 26px;
    }
  }

  .hero-descript {
    font-family: "Roboto";
    font-weight: normal;
    font-size: 20px;
    text-align: center;
    color: #ffffff;
    padding: 44px 0;
    @media(max-width:768px){
      font-size: 18px;

    }
    @media(max-width:576px){
      font-size: 16px;
    }
  }

  .search {
    font-family: Roboto;
    font-size: 14px;
    border: transparent;
    color: #90a4ae;


  }

  .searchButton {
    position: absolute;
    background: url("../img/icon-hero.png") no-repeat;
    border: transparent;
    width: 25px;
    height: 25px;
    top: 20px;
    right: 25px;
    @media(max-width:768px){
      top: 18px;
      right: 19px;
    }
    @media(max-width:576px){
      top: 13px;
      right: 15px;
    }


  }

  .hero-search {
    position: relative;
    background-color: #ffffff;
    border-radius: 5px;
    border: transparent;
    transform: translate(428px, 10px);
    padding: 23px 23px;
    box-shadow: 0px 1px 15px 0px rgba(137, 144, 81, 1);
    width: 670px;
    @media(max-width:992px){
      max-width: 80%;
      transform: translate(220px, 10px);
      padding: 20px 23px;
    }

    @media(max-width:768px){
      max-width: 60%;
      transform: translate(153px, 10px);
     padding: 19px 23px;
    }
    @media(max-width:576px){
      padding: 15px 15px;
      transform: translate(116px, 10px);
    }
  }

}
