.hero {
  padding: 150px 0 160px 0;
  background: url("../img/background-foxtar.jpg") no-repeat;
  text-align: center;




  .main-title {
    font-family: "Roboto";
    font-size: 48px;
    font-weight: bold;
    text-align: center;
    color: #ffffff;
  }

  .hero-descript {
    font-family: "Roboto";
    font-weight: normal;
    font-size: 20px;
    text-align: center;
    color: #ffffff;
    padding: 44px 0;
  }

  .search {
    font-family: Roboto;
    font-size: 14px;
    border: transparent;
    color: #99abb4;
    margin-right: 424px;
  }

  .searchButton {
    position: absolute;
    background: url("../img/icon-hero.png") no-repeat;
    border: transparent;
    width: 25px;
    height: 25px;
    top: 20px;
    right: 25px;


  }

  .hero-search {
    position: relative;
    background-color: #ffffff;
    border-radius: 3px;
    border: transparent;
    display: inline-block;
    padding: 23px 26px;

    box-shadow: 0px 1px 10px 0px rgba(124, 178, 64, 0.75);
  }

}
