@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto/roboto-regular-webfont.eot');
    src: url('../fonts/Roboto/roboto-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Roboto/roboto-regular-webfont.woff2') format('woff2'),
         url('../fonts/Roboto/roboto-regular-webfont.woff') format('woff'),
         url('../fonts/Roboto/roboto-regular-webfont.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto/roboto-medium-webfont.eot');
    src: url('../fonts/Roboto/roboto-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Roboto/roboto-medium-webfont.woff2') format('woff2'),
         url('../fonts/Roboto/roboto-medium-webfont.woff') format('woff'),
         url('../fonts/Roboto/roboto-medium-webfont.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto/roboto-bold-webfont.eot');
    src: url('../fonts/Roboto/roboto-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Roboto/roboto-bold-webfont.woff2') format('woff2'),
         url('../fonts/Roboto/roboto-bold-webfont.woff') format('woff'),
         url('../fonts/Roboto/roboto-bold-webfont.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Lato';
    src: url('../fonts/lato/lato-semibold-webfont.eot');
    src: url('../fonts/lato/lato-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lato/lato-semibold-webfont.woff2') format('woff2'),
         url('../fonts/lato/lato-semibold-webfont.woff') format('woff'),
         url('../fonts/lato/lato-semibold-webfont.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'OpenSans';
    src: url('../fonts/Open_Sans/opensans-semibold-webfont.eot');
    src: url('../fonts/Open_Sans/opensans-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Open_Sans/opensans-semibold-webfont.woff2') format('woff2'),
         url('../fonts/Open_Sans/opensans-semibold-webfont.woff') format('woff'),
         url('../fonts/Open_Sans/opensans-semibold-webfont.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway/raleway-bold-webfont.eot');
    src: url('../fonts/Raleway/raleway-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Raleway/raleway-bold-webfont.woff2') format('woff2'),
         url('../fonts/Raleway/raleway-bold-webfont.woff') format('woff'),
         url('../fonts/Raleway/raleway-bold-webfont.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'pt_sansregular';
    src: url('../fonts/PT_Sans_instead_MyriadPro/ptsans-regular-webfont.eot');
    src: url('../fonts/PT_Sans_instead_MyriadPro/ptsans-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/PT_Sans_instead_MyriadPro/ptsans-regular-webfont.woff2') format('woff2'),
         url('../fonts/PT_Sans_instead_MyriadPro/ptsans-regular-webfont.woff') format('woff'),
         url('../fonts/PT_Sans_instead_MyriadPro/PTSans-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Font Awesome 5 Free';
    font-style: normal;
    font-weight: 900;
    font-display: swap;
    src: url("../fonts/FontAwesome/fa-solid-900.eot");
    src: url("../fonts/FontAwesome/fa-solid-900.eot?#iefix") format("embedded-opentype"), 
         url("../fonts/FontAwesome/fa-solid-900.woff2") format("woff2"),
         url("../fonts/FontAwesome/fa-solid-900.woff") format("woff"), 
         url("../fonts/FontAwesome/fa-solid-900.ttf") format("truetype"), 
         url("../fonts/FontAwesome/fa-solid-900.svg#fontawesome") format("svg"); 
} 
@font-face {
    font-family: 'Font Awesome 5 Free';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("../fonts/FontAwesome/fa-regular-400.eot");
    src: url("../fonts/FontAwesome/fa-regular-400.eot?#iefix") format("embedded-opentype"), 
         url("../fonts/FontAwesome/fa-regular-400.woff2") format("woff2"),
         url("../fonts/FontAwesome/fa-regular-400.woff") format("woff"), 
         url("../fonts/FontAwesome/fa-regular-400.ttf") format("truetype"), 
         url("../fonts/FontAwesome/fa-regular-400.svg#fontawesome") format("svg"); 
}  
@font-face {
    font-family: 'Font Awesome 5 Brands';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("../fonts/FontAwesome/fa-brands-400.eot");
    src: url("../fonts/FontAwesome/fa-brands-400.eot?#iefix") format("embedded-opentype"), 
         url("../fonts/FontAwesome/fa-brands-400.woff2") format("woff2"), 
         url("../fonts/FontAwesome/fa-brands-400.woff") format("woff"), 
         url("../fonts/FontAwesome/fa-brands-400.ttf") format("truetype"), 
         url("../fonts/FontAwesome/fa-brands-400.svg#fontawesome") format("svg"); 
}
.fab {
    font-family: 'Font Awesome 5 Brands'; 
    font-style: normal;
}
.fa,.fas,.far {
    font-style: normal;
    font-family: 'Font Awesome 5 Free';
    font-weight: 900; 
}
.fa-th-large:before {
    content: '\f009';
    color: #90a4ae;
    &:hover {
        color: $color-brand-primary;
    }
}
.fa-th-list:before {
    content: '\f00b';
    color: #90a4ae;
}

// HEADERS style
h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-family: inherit, sans-serif;
    font-weight: 700; 
    color: $header-color-main;
}
h1 {
    font-size: 3.2rem;
    line-height: 2rem;
}
h2 {
    font-size: 2.4rem;
    line-height: 2.66rem;
    text-align: center;
    color: $color-btn_font-secondary;
}
h3 {
    font-size: 1.6rem;
    line-height: 4rem;
    color: $header-color-main;
}
h4 {
    font-size: 1.6rem;
    line-height: 1;
    font-weight: 500;
    color: $header-color-main;
}
h5 {
    font-family: 'Raleway', sans-serif;
    font-size: 1.4667rem;
    line-height: 4rem;
    font-weight: 700;
    color: $header-color-main;
}
h6 {
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
    line-height: 4rem;
    font-weight: 500;
    color: $header-color-alternative;
}