// Buttons
$color-brand-primary:#8bc34a;
$color-brand-secondary:#e74c3c;
$color-btn_font-primary:#fff;
$color-btn_font-secondary: #263238;
//Background colors
$color-background-default: #fff;
$color-background-primary: #263238;
$color-background-secondary: #f4f6f5;
// Text color
$color-paragraph-main: #b0bec5;
$color-card-author:#506e7a;
//stars rating color
$color-stars-rating: #ffa726;
//header color
$header-color-main:#fff;
$header-color-alternative: #263238;
//form color
$color-form-text-main: #444;
$color-form-text-input: #707070;
$color-form-border: #d7d7d7;
